// BOOTSTRAP
@import '~bootstrap/scss/bootstrap';

//COMMON
@import 'partials/vars';
@import 'partials/common';


//SECTION
@import 'partials/header';
@import 'partials/show';
@import 'partials/footer';

// INDEX

.main-content {
    height: 100%;
    min-height: calc(100vh - 148px);
}

.rooms_data {
    
    .table {

        th {
            vertical-align: middle;
            background-color: $primary-color;
            color: #fff;
            padding-left: 10px;
        }

        td {
            vertical-align: middle;
            padding-left: 10px;
        }
        
    }

    &__title {
        padding: 0;
    }
}